@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background: linear-gradient( to right,  #cde5f0, #eddef1 );
 
}
/* linear-gradient(   #cde5f0, #eddef1 );
 padding: 0 4rem 4rem 4rem 4rem;*/
.app {
  padding: 4rem;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

header{
  background-color: #bbc7d3;
  z-index: 3;
  
  position: sticky;
  height: 10vh;
  top:0;
  width: 100%;
  display: flex;
 
  vertical-align: middle;
  justify-content: flex-end;
  
}

header button{
  margin: 1%;

  height: 35px;
  width: 45px;
  background-color: transparent;
}

header button img{
  width: 100%;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  width: 61%;
  margin: 4rem 1.5rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;


  padding: 0.5rem 1.75rem;
  border-radius: 3rem;
  background: #bbc7d3;
 
}

.filterscontainer{
  margin: 4rem 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filterscontainer .selectdiv{
  padding: 0.7rem 1.75rem;
  border-radius: 3rem;
  background: #bbc7d3;
  margin-right: 0.5rem;
}
.filterscontainer select{
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #757575;
}

.filterscontainer .orderbutton{
  padding: 0.2rem;
  background: #bbc7d3;
  border-radius: 3rem;
  margin-right: 0.5rem;
}

.filterscontainer .orderbutton div{
  width: 2rem;
  height: 2rem;
}
.filterscontainer .orderbutton button{
  background-color: transparent;
  color: #757575;
  height: 2rem;
  font-size: 1rem;
}


.search input {
  flex: 1;
  border: none;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #1f2123;
  background: #bbc7d3;
}

.search img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* .search button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: #a1a1a1;
  font-family: var(--font-raleway);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;

  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
} */

form{
  width: 40%;
  margin: 5rem auto;
  border: 3px solid white;
  padding: 1rem;
  border-radius: 12px;
}

form input[type=text], form input[type=email], form input[type=password]{
  padding:10px;
  margin:5px 0 0; /*  add top and bottom margin */
  outline: none;
  display: block;
  width: 100%;
  background: transparent;
  border-bottom: 2px solid white;
}

form h3{
  text-align: center;
  color: white;
  font-family: var(--font-raleway);
}

form small{
  margin-top: 0;
  margin-left: 0.2rem;
  font-size: 0.8rem;
  color:  rgb(27, 106, 106);

}

form div{
  width: 100%;
  margin: 1rem 0;
  display: flex;
  vertical-align: middle;
  color: white;
  font-family: var(--font-raleway);
}

form input[type=radio]{
  margin-right: 0.1rem;
  accent-color: rgb(27, 106, 106);
}

form input[type=submit]{
  margin: 0 0 0.4rem 0;
  font-family: var(--font-raleway);
  font-weight: 500;
  margin-right: 0.3rem;
  padding: 0.5rem;
  border-radius: 8px;
}
form input[type=submit]:hover{
 background-color: rgb(66, 152, 152); 
}


.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #292019;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}


.popular {
  padding: 0.5rem;
  width: 300px;
  height: 150px;
  margin:  0.025rem 1.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  display: flex;
  align-items: center;
}

.popular:hover{
  transform: scale(1.05, 1.05);
}

.popular div:nth-of-type(1){
  width: 35%;
  height: 70%;
  border-radius: 50%;
  overflow: hidden;

}

.popular:hover div:nth-of-type(1){
  box-shadow: 0px 0px 5px 3px white;
}

.popular div:nth-of-type(1) img{
  height: 100%;
  width: 100%;
}

.popular div:nth-of-type(2){
  width: 60%;
  margin-left: 4%;
  font-weight: 600;
  font-size: 1.1rem;
  color: rgb(27, 106, 106);
  
}

/* .popular:hover div:nth-of-type(2){
  text-shadow: rgb(188, 178, 204) 1px 0 10px;
  text-shadow:
  1px 1px 2px rgb(221, 214, 214),
  0 0 1em  white,
  0 0 0.2em  rgb(27, 106, 106);
  color: white;
} */

.teacherSubj {
  width: 190px;
  height: 50px;
  margin:  0.5rem 1.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  display: flex;
  align-items: center;
}

.teacherSubj div:nth-of-type(1){
  width: 30%;
  height: 90%;
  border-radius: 50%;
  overflow: hidden;

}

.teacherSubj div:nth-of-type(1) img{
  height: 100%;
  width: 100%;
}

.teacherSubj div:nth-of-type(2){
  width: 80%;
  margin-left: 2%;
  font-weight: 600;
  font-size: 0.9rem;
  color: rgb(27, 106, 106);
}

.allSubjects{
  padding: 1rem;
  background-color: #bbc7d3;

  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  display: block;
  margin: 0 auto;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}
.allSubjects:hover{
  background-color:rgb(27, 106, 106);
 
  transform: scale(1.05, 1.05);
}

.subject {
  width: 230px;
  height: 180px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}


.subject:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.subject div:nth-of-type(1) {
  width: 100%;
  height: 100%;
}

.subject div:nth-of-type(1) img {
  height: 100%;
  width: 100%;
}

.subject div:nth-of-type(2) {
  z-index: 2;
  background-color: #343739;
  opacity: 0.8;
  padding: 16px 14px 14px 13px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}


.subject div:nth-of-type(2) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
  opacity: 1;
}

.subject div:nth-of-type(2) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
  opacity: 1;
}

.subject:hover div:nth-of-type(1) {
  height: 100%;
  opacity: 0.3;
}

.subject:hover div:nth-of-type(2) {
  background-color: transparent;
}


.teacher {
  width: 510px;
  height: 300px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  color: black;

  background-color: #cde5f0;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.teacher .content{
  text-decoration: none;
  color: #292019;
  width: 100%;
  height: 100%;
  display: flex;
}

.teacher:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.teacher .content div:nth-of-type(1) {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.teacher .content div:nth-of-type(1) img {
  height: 100%;
  width: 100%;
}

.teacher .content div:nth-of-type(2) {
  width: 40px;
  position: absolute;
  top: 4px;
  right: 4px;
  
}

.teacher .content div:nth-of-type(2) {
  padding: 10px;
  width: 50%;
  height: 100%;
  overflow: hidden;
}


.teacher .content div:nth-of-type(2) p:nth-of-type(1) {
  margin: 0;
  -webkit-line-clamp: 4; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; 
}

.teacher .content div:nth-of-type(2) p {
  margin: 0;
  -webkit-line-clamp: 3; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; 
}



.teacher .content div:nth-of-type(3)  {
  width: 37px;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 8px;
  left: 8px;
  color: #f7d918;
  font-size: 27px;

}

.teacher .like {
  width: 40px;
  position: absolute;
  top:1px;
  right: 0;
}

.teacher  .like button{
  background-color: transparent;
}

.teacher  .like img{
  width: 100%;
  height: 30px;
}

.teacherpicandname{
  display: flex;
  width: 100%;

}

.tearpagepic{
  border-radius: 12px;
  width: 300px;
  height: 350px;
  overflow: hidden;
}

.tearpagepic img{
  width: 100%;
  height: 100%;
}

.teacherinfo{
  margin-top: 1rem;
  padding: 1rem;
  text-align: justify;
  width: 100%;
  border:1px solid white;
  border-radius: 12px ;

}

.teacherinfo button{
  background-color: transparent;
  font-size: 20px;
  color: white;
  /* position: absolute;
  right: 0; */


}

.teacherinfo .notexpanded{
  margin: 0;
  -webkit-line-clamp: 4; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; 
}

.teacherinfo .expanded{
  margin: 0;
  overflow: auto;
}

.teacherPageRating{
  width: 37px;
  display: flex;
  align-items: center;
  font-weight: 800;
  color: #f7d918;
  font-size: 27px;
}

.certificate{
  width: 200px;
  height: 250px;
  overflow: hidden;
  margin: 0 0.3rem;
}

.certificate img{
  width: 100%;
  height: 100%;
}

.subjectAndApply {
 
  position: fixed;
  width: 25%;
  top: 6.6rem ;
  right: 2%;  
  border-radius: 4px;
  padding:  0.3rem;
  border: 2px solid #f1f3f9 ;
}

.subjectAndApply > div{
  padding: 1rem;
  border-radius: 4px;
  background: #f1f3f9;
  margin-bottom: 0.3rem;
  text-align: center;
}

.subjectAndApply button{
  padding: 5%;
  width: 100%;
  border-radius: 4px;
  background: #f1f3f9;
}

.subjectAndApply button:hover{
  background: #c1cef7;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.singleteachercontainer .container{
  width: 70%;
  
}

.commentdiv{
  width: 100%;
  padding-top: 1rem ;
}

.comment{
  margin: 0.3rem 0;
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid white ;
  display: flex;
  justify-content: space-between;
}

.comment .commentpic{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  overflow: hidden;
  margin-right: 0.5rem;
}

.comment .commentpic img{
  width: 100%;
  height: 100%;
}

.comment div:nth-of-type(2){
  width: 92%;
  text-align: justify;
}

.comment  div:nth-of-type(2) p{
  font-size: 1em;
}

.comment div:nth-of-type(2) div{
  display: flex;
}

.comment div:nth-of-type(2) img{
  height: 30px;
}

.movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

.profilecontainer{
  display: flex;
  flex-direction: row;
}

.tabs{
  width: 18%;
  height: 100%;
  border: 2px solid white;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem ;
}

.tabs button{
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
}

.profilecontainer .content{
  width: 80%;
  height: 100%;
  /* border: 1px solid black; */
  padding: 0.5rem 1rem;
}

.likedteacheronprofiledpage{
  margin: 0.3rem 0;
  border: 2px solid white;
  border-radius: 12px;
  width: 50%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  
}

.likedteacheronprofiledpage .linkteacher{
  width: 70%;
  display: flex;
  color: #1f2123;
}

.likedteacheronprofiledpage .linkteacher div{
  width: 70px;
  height: 70px;
  border-radius: 70px;
  overflow: hidden;
  margin-right: 0.2rem;
}

.likedteacheronprofiledpage  .linkteacher div img{
  width: 100%;
  height: 100%;
}


.likedteacheronprofiledpage .like {
  width: 60px;
 
}

.likedteacheronprofiledpage  .like button{
  background-color: transparent;
}

.likedteacheronprofiledpage  .like img{
  width: 100%;
  height: 40px;
}

.notification, .studentapplication{
  width: 100%;
  margin: 0.3rem 0;
  border: 2px solid white;
  border-radius: 12px;
  padding: 0.5rem;
}

.notification h5{
  float: right;
}
 

.notification .newnotif::before{
  content: "новое!";
  color: rgb(194, 96, 218);
  margin-right: 0.3rem;
}

.notification button{
  padding: 0.3rem;
  border-radius: 2px;
  background-color:#cfc6d2;
  margin-left: 85%;
}

.notification button:hover{
  background-color:#8a838c;
}


.profilePage{
  display: flex;
  justify-content: space-around;
  margin: 0.3rem 0;
  padding-right: 3rem;
}
.profilePage div:nth-of-type(1){
  /* margin: auto; */
  width: 250px;
  height: 250px;
  border-radius: 250px;
  overflow: hidden;
}

.profilePage div:nth-of-type(1) img{
  width: 100%;
  height: 100%;
}

.profilePage div:nth-of-type(2){
  width: 350px;
}

.profilePage div:nth-of-type(2) input{
  font-size: 1.2rem;
  padding:10px;
  margin:10px 0; /*  add top and bottom margin */
  outline: none;
  display: block;
  width: 100%;
  background: transparent;
  border-bottom: 2px solid white;
}

.profilePage div:nth-of-type(2) button{
  font-size: 0.9rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  margin-top: 0.4rem;
  padding: 0.5rem;
  border-radius: 8px;
}


.profilePage div:nth-of-type(2) button:hover{
  background-color: #c1cef7; 
}


.studentapplication{
  padding: 1rem;
}
.studentapplication h3{
  float: right;
  color:  #99a3c1;
}


.studentapplication .delete {
  width: 40px;
  margin-left: 95%;
}

.studentapplication  .delete button{
  background-color: transparent;
}

.studentapplication  .delete img{
  width: 100%;
  
}

.twoelement{
  margin: 1rem;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  color: #111316;
}

.spanapplication{
  margin: 0 1rem;
  font-size: 1.2rem;  
}


.studentapplication .imagecontainer{
  margin-right:0.2rem ;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.studentapplication  .imagecontainer img{
  width: 100%;
  height: 100%;
}


.usercard{
  width: 100%;
  border: 2px solid white;
  border-radius: 12px;
  margin: 0.3rem ;
  padding: 0.7rem;
  display: flex;
}

.usercard div:nth-of-type(1){
  width: 60%
}

.accoutnpic{
  width: 90px;
  height: 90px;
  overflow: hidden;
}

.accoutnpic img{
  width: 100%;
  height: 100%;
}
.subjectapply {
  width: 50%;
  height: 100%;
  margin: 0.8rem auto;
  border: 2px solid white;
  border-radius: 12px;
  padding: 0.5rem 1rem;
}

.subjectapply h4{
  font-family: "Roboto Slab", serif;
}

.subjectapply span{
  color: #7c85a2; 
  font-size: smaller;
  font-family: "Raleway", sans-serif;

}

.subjectapply .contain{

  padding: 1rem 0;

  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.subjectapply .contain .purposebutton{
  border: 2px solid white;
  padding: 0.1rem;
  border-radius: 10px;
  margin: 0.1rem;
  width: 30%;
  height: 7vh;
}

.subjectbutton{
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.1rem;
  width: 30%;
  height: 17vh;
}
.subjectbutton div{
  width: 70px;
  height: 50px;
  overflow: hidden;
  margin: 0 auto 0.4rem;
}


.subjectbutton div img{
  width: 100%;
  height: 100%;
}

.applybtn{
  display: block;
  margin: 0 auto 30px;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: #c1cef7; 
  border-radius: 10px;
}

.applybtn:hover, .restbtn:hover {
  background-color: #7c85a2; 
}

.restbtn{
  padding: 0.5rem;
  background-color: #c1cef7; 
  border-radius: 10px;
}



@media screen and (max-width: 600px) {
  .app {
    padding: 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 2rem ;
    align-items: center;
  }

  .search{
    width: 90%;
  }

  .subject{
    width: 290px;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
}


