@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background: linear-gradient( to right,  #cde5f0, #eddef1 );
 
}
/* linear-gradient(   #cde5f0, #eddef1 );
 padding: 0 4rem 4rem 4rem 4rem;*/
.app {
  padding: 4rem;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

header{
  background-color: #bbc7d3;
  z-index: 2;
  
  position: sticky;
  height: 10vh;
  top:0;
  width: 100%;
  display: flex;
 
  vertical-align: middle;
  justify-content: flex-end;
  
}

header button{
  margin: 1%;

  height: 35px;
  width: 45px;
  background-color: transparent;
}

header button img{
  width: 100%;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  width: 61%;
  margin: 4rem 1.5rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;


  padding: 0.5rem 1.75rem;
  border-radius: 3rem;
  background: #bbc7d3;
 
}

.search input {
  flex: 1;
  border: none;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #1f2123;
  background: #bbc7d3;
}

.search img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* .search button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: #a1a1a1;
  font-family: var(--font-raleway);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;

  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
} */

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #292019;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}


.popular {
  width: 300px;
  height: 150px;
  margin:  0.025rem 1.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  display: flex;
  align-items: center;
}

.popular div:nth-of-type(1){
  width: 35%;
  height: 70%;
  border-radius: 50%;
  overflow: hidden;

}

.popular div:nth-of-type(1) img{
  height: 100%;
  width: 100%;
}

.popular div:nth-of-type(2){
  width: 60%;
  margin-left: 2%;
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(27, 106, 106);
}


.teacherSubj {
  width: 140px;
  height: 50px;
  margin:  0.025rem 1.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  display: flex;
  align-items: center;
}

.teacherSubj div:nth-of-type(1){
  width: 25%;
  height: 70%;
  border-radius: 50%;
  overflow: hidden;

}

.teacherSubj div:nth-of-type(1) img{
  height: 100%;
  width: 100%;
}

.teacherSubj div:nth-of-type(2){
  width: 60%;
  margin-left: 2%;
  font-weight: 600;
  font-size: 0.7rem;
  color: rgb(27, 106, 106);
}

.allSubjects{
  padding: 1rem;
  background-color: #bbc7d3;

  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  display: block;
  margin: 0 auto;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}
.allSubjects:hover{
  background-color:rgb(27, 106, 106);
 
  transform: scale(1.05, 1.05);
}

.subject {
  width: 230px;
  height: 180px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}


.subject:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.subject div:nth-of-type(1) {
  width: 100%;
  height: 100%;
}

.subject div:nth-of-type(1) img {
  height: 100%;
  width: 100%;
}

.subject div:nth-of-type(2) {
  z-index: 2;
  background-color: #343739;
  opacity: 0.8;
  padding: 16px 14px 14px 13px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}


.subject div:nth-of-type(2) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
  opacity: 1;
}

.subject div:nth-of-type(2) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
  opacity: 1;
}

.subject:hover div:nth-of-type(1) {
  height: 100%;
  opacity: 0.3;
}

.subject:hover div:nth-of-type(2) {
  background-color: transparent;
}


.teacher {
  width: 510px;
  height: 300px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  color: black;

  background-color: #cde5f0;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.teacher .content{
  text-decoration: none;
  color: #292019;
  width: 100%;
  height: 100%;
  display: flex;
}

.teacher:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.teacher .content div:nth-of-type(1) {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.teacher .content div:nth-of-type(1) img {
  height: 100%;
  width: 100%;
}

.teacher .content div:nth-of-type(2) {
  width: 40px;
  position: absolute;
  top: 4px;
  right: 4px;
  
}

.teacher .content div:nth-of-type(2) {
  padding: 10px;
  width: 50%;
  height: 100%;
  overflow: hidden;
}


.teacher .content div:nth-of-type(2) p:nth-of-type(1) {
  margin: 0;
  -webkit-line-clamp: 4; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; 
}

.teacher .content div:nth-of-type(2) p {
  margin: 0;
  -webkit-line-clamp: 3; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; 
}



.teacher .content div:nth-of-type(3)  {
  width: 37px;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 8px;
  left: 8px;
  color: #f7d918;
  font-size: 27px;

}

.teacher .like {
  width: 40px;
  position: absolute;
  top:1px;
  right: 0;
}

.teacher  .like button{
  background-color: transparent;
}

.teacher  .like img{
  width: 100%;
  height: 30px;
}


.tearpagepic{
  border-radius: 12px;
  width: 300px;
  height: 350px;
  overflow: hidden;
}

.tearpagepic img{
  width: 100%;
  height: 100%;
}

.teacherinfo{
  width: 40%;
}

.teacherinfo .notexpanded{
  margin: 0;
  -webkit-line-clamp: 4; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; 
}

.teacherinfo .expanded{
  margin: 0;
  overflow: auto;
}

.subjectAndApply {
 
  position: fixed;
  width: 25%;
  top: 6.6rem ;
  right: 2%;  
  border-radius: 4px;
  padding:  0.3rem;
  border: 2px solid #f1f3f9 ;
}

.subjectAndApply div{
  border-radius: 4px;
  background: #f1f3f9;
  margin-bottom: 0.3rem;
}

.subjectAndApply button{
  padding: 5%;
  width: 100%;
  border-radius: 4px;
  background: #f1f3f9;
}

.subjectAndApply button:hover{
  background: #c1cef7;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.singleteachercontainer .container{
  width: 70%;

}

.comment{
  margin: 0.3rem 0;
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid white ;
  display: flex;
  justify-content: space-between;
}

.comment .commentpic{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  overflow: hidden;
}

.comment .commentpic img{
  width: 100%;
  height: 100%;
}

.comment div:nth-of-type(2){
  width: 92%;
  text-align: justify;
}

.comment  div:nth-of-type(2) p{
  font-size: 1em;
}

.comment div:nth-of-type(2) div{
  display: flex;
}

.comment div:nth-of-type(2) img{
  height: 30px;
}

.movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 2rem ;
    align-items: center;
  }

  .search{
    width: 90%;
  }

  .subject{
    width: 290px;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
}


